<nav class="navbar navbar-expand navbar-light" style="background-color: #182b0a;">
    <div class="container">
        <div class="row">
            <div class="navbar">
                <ul class="nav">
                    <li class="nav-label" type="button" routerLinkActive="active" routerLink="/home">
                        <span>Home</span>
                    </li>
                    <li class="nav-label" type="button" routerLinkActive="active" routerLink="/skills">
                        <span>Skills</span>
                    </li>
                    <li class="nav-label" type="button" routerLinkActive="active" routerLink="/projects">
                        <span>Personal Project</span>
                    </li>
                    <li class="nav-label" type="button">
                        <span>Work Experience</span>
                    </li>
                    <li class="nav-label" type="button">
                        <span>About</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>