<section class="blog_about_banner">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="about_box">
                    <h1>We are trying to build magical world .</h1>
                    <p>An informational website published on the World Wide Web consisting of discrete, often informal
                        diary-style text entries (posts).</p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row">
        <h3 class="our_reflections_heading mb_75">Types of Project</h3>
        <section class="ourNews">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="news-box">
                            <div class="tag-sections">
                                <p class="popular_tag">Popular tags:</p>
                                <nav class="nav tag_nav">
                                    <a class="nav-link" type="button" id="searchTechnology">ALL</a>
                                    <a class="nav-link" type="button" id="searchTechnology">CRUD</a>
                                    <a class="nav-link" type="button">Full Stack</a>
                                    <a class="nav-link" type="button">Dashboard</a>
                                    <a class="nav-link" type="button">Django</a>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="news">
            <img class="img" src="assets/Mean.png">
            <div class="date_techno">
                <a class="tech_tag" type="button" style="color: #FFFFFF;">Hello</a>
                <span class="date_text" style="color: #FFFFFF;">06 Jan, 2023</span>
            </div>
            <h4 class="news-heading" style="color: #FFFFFF;">CRUD Operations</h4>
            <p class="news-heading" style="color: #FFFFFF;">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Obcaecati saepe itaque explicabo at iure debitis eos doloribus eligendi culpa excepturi, in quod fuga
                cumque aliquam velit porro et praesentium id?</p>
            <a class="learn_btn_two" type="button" href="https://github.com/Mspidy" target="_blank"><img src="https://img.icons8.com/fluency-systems-filled/96/null/github.png" style="width: 3em; height: 3em;"/></a>
        </div>
        <div class="news">
            <img class="img" src="assets/Mean.png">
            <div class="date_techno">
                <a class="tech_tag" type="button" style="color: #FFFFFF;">Hello</a>
                <span class="date_text" style="color: #FFFFFF;">06 Jan, 2023</span>
            </div>
            <h4 class="news-heading" style="color: #FFFFFF;">CRUD Operations</h4>
            <p class="news-heading" style="color: #FFFFFF;">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Obcaecati saepe itaque explicabo at iure debitis eos doloribus eligendi culpa excepturi, in quod fuga
                cumque aliquam velit porro et praesentium id?</p>
            <a class="learn_btn_two" type="button" href="https://github.com/Mspidy" target="_blank"><img src="https://img.icons8.com/fluency-systems-filled/96/null/github.png" style="width: 3em; height: 3em;"/></a>
        </div>
        <div class="news">
            <img class="img" src="assets/Mean.png">
            <div class="date_techno">
                <a class="tech_tag" type="button" style="color: #FFFFFF;">Hello</a>
                <span class="date_text" style="color: #FFFFFF;">06 Jan, 2023</span>
            </div>
            <h4 class="news-heading" style="color: #FFFFFF;">CRUD Operations</h4>
            <p class="news-heading" style="color: #FFFFFF;">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Obcaecati saepe itaque explicabo at iure debitis eos doloribus eligendi culpa excepturi, in quod fuga
                cumque aliquam velit porro et praesentium id?</p>
            <a class="learn_btn_two" type="button" href="https://github.com/Mspidy" target="_blank"><img src="https://img.icons8.com/fluency-systems-filled/96/null/github.png" style="width: 3em; height: 3em;"/></a>
        </div>
        <div class="news">
            <img class="img" src="assets/Mean.png">
            <div class="date_techno">
                <a class="tech_tag" type="button" style="color: #FFFFFF;">Hello</a>
                <span class="date_text" style="color: #FFFFFF;">06 Jan, 2023</span>
            </div>
            <h4 class="news-heading" style="color: #FFFFFF;">CRUD Operations</h4>
            <p class="news-heading" style="color: #FFFFFF;">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Obcaecati saepe itaque explicabo at iure debitis eos doloribus eligendi culpa excepturi, in quod fuga
                cumque aliquam velit porro et praesentium id?</p>
            <a class="learn_btn_two" type="button" href="https://github.com/Mspidy" target="_blank"><img src="https://img.icons8.com/fluency-systems-filled/96/null/github.png" style="width: 3em; height: 3em;"/></a>
        </div>
        <div class="news">
            <img class="img" src="assets/Mean.png">
            <div class="date_techno">
                <a class="tech_tag" type="button" style="color: #FFFFFF;">Hello</a>
                <span class="date_text" style="color: #FFFFFF;">06 Jan, 2023</span>
            </div>
            <h4 class="news-heading" style="color: #FFFFFF;">CRUD Operations</h4>
            <p class="news-heading" style="color: #FFFFFF;">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Obcaecati saepe itaque explicabo at iure debitis eos doloribus eligendi culpa excepturi, in quod fuga
                cumque aliquam velit porro et praesentium id?</p>
            <a class="learn_btn_two" type="button" href="https://github.com/Mspidy" target="_blank"><img src="https://img.icons8.com/fluency-systems-filled/96/null/github.png" style="width: 3em; height: 3em;"/></a>
        </div>
        <div class="news">
            <img class="img" src="assets/Mean.png">
            <div class="date_techno">
                <a class="tech_tag" type="button" style="color: #FFFFFF;">Hello</a>
                <span class="date_text" style="color: #FFFFFF;">06 Jan, 2023</span>
            </div>
            <h4 class="news-heading" style="color: #FFFFFF;">CRUD Operations</h4>
            <p class="news-heading" style="color: #FFFFFF;">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Obcaecati saepe itaque explicabo at iure debitis eos doloribus eligendi culpa excepturi, in quod fuga
                cumque aliquam velit porro et praesentium id?</p>
            <a class="learn_btn_two" type="button" href="https://github.com/Mspidy" target="_blank"><img src="https://img.icons8.com/fluency-systems-filled/96/null/github.png" style="width: 3em; height: 3em;"/></a>
        </div>
    </div>
</div>