<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
            <div class="skills">
                <h2>Web Developer</h2>
                <p>Have the ability to work with a large teams, An excellent scrum master who works well with high-load
                    projects. I am very accurate developer with a huge expereince in web . I can work with estimations
                    of future tasks and client's feedback</p>
                <a>Work with me</a>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 my_auto">
            <div class="skill_img">
                <img src="assets/Mean.png">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h3 class="our_skills mb_75">Skills Set</h3>
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
            <div class="core_skill_box">
                <div class="core_skill_icon">
                    <img src="https://img.icons8.com/color/96/null/angularjs.png" />
                </div>
                <div class="core_value_con">
                    <h3>Angular</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus et quasi quibusdam,
                        cumque sunt esse molestiae reprehenderit? Ad sequi vitae eveniet unde ipsa soluta id, qui
                        impedit iusto in aspernatur.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
            <div class="core_skill_box">
                <div class="core_skill_icon">
                    <img src="https://img.icons8.com/fluency/96/null/node-js.png"/>
                </div>
                <div class="core_value_con">
                    <h3>Node JS</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus et quasi quibusdam,
                        cumque sunt esse molestiae reprehenderit? Ad sequi vitae eveniet unde ipsa soluta id, qui
                        impedit iusto in aspernatur.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
            <div class="core_skill_box">
                <div class="core_skill_icon">
                    <img src="https://img.icons8.com/color/96/null/mongodb.png"/>
                </div>
                <div class="core_value_con">
                    <h3>MongoDB</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus et quasi quibusdam,
                        cumque sunt esse molestiae reprehenderit? Ad sequi vitae eveniet unde ipsa soluta id, qui
                        impedit iusto in aspernatur.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
            <div class="core_skill_box">
                <div class="core_skill_icon">
                    <img src="https://img.icons8.com/office/80/000000/express-js.png"/>
                </div>
                <div class="core_value_con">
                    <h3>Express JS</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus et quasi quibusdam,
                        cumque sunt esse molestiae reprehenderit? Ad sequi vitae eveniet unde ipsa soluta id, qui
                        impedit iusto in aspernatur.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
            <div class="core_skill_box">
                <div class="core_skill_icon">
                    <img src="https://img.icons8.com/external-tal-revivo-shadow-tal-revivo/96/null/external-html-5-is-a-software-solution-stack-that-defines-the-properties-and-behaviors-of-web-page-logo-shadow-tal-revivo.png"/>
                </div>
                <div class="core_value_con">
                    <h3>HTML 5</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus et quasi quibusdam,
                        cumque sunt esse molestiae reprehenderit? Ad sequi vitae eveniet unde ipsa soluta id, qui
                        impedit iusto in aspernatur.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
            <div class="core_skill_box">
                <div class="core_skill_icon">
                    <img src="https://img.icons8.com/color/96/null/css3.png"/>
                </div>
                <div class="core_value_con">
                    <h3>CSS 3</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus et quasi quibusdam,
                        cumque sunt esse molestiae reprehenderit? Ad sequi vitae eveniet unde ipsa soluta id, qui
                        impedit iusto in aspernatur.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
            <div class="core_skill_box">
                <div class="core_skill_icon">
                    <img src="https://img.icons8.com/color/96/null/graphql.png"/>
                </div>
                <div class="core_value_con">
                    <h3>Graphql</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus et quasi quibusdam,
                        cumque sunt esse molestiae reprehenderit? Ad sequi vitae eveniet unde ipsa soluta id, qui
                        impedit iusto in aspernatur.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
            <div class="core_skill_box">
                <div class="core_skill_icon">
                    <img src="https://img.icons8.com/color/96/null/python--v1.png"/>
                </div>
                <div class="core_value_con">
                    <h3>Python</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus et quasi quibusdam,
                        cumque sunt esse molestiae reprehenderit? Ad sequi vitae eveniet unde ipsa soluta id, qui
                        impedit iusto in aspernatur.</p>
                </div>
            </div>
        </div>
    </div>
</div>