<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
            <div class="details">
                <p>Hi, I Am</p>
                <p>Prabhat Dubey</p>
                <h6>I'm <span style="color: #17ddbc">{{title1}}</span></h6>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 my_auto">
            <div class="my_img">
                <img src="assets/prabhat.jpeg" />
            </div>
        </div>
        <div class="button">
            <a type="button" href="assets/Prabhat.pdf" target="_blank" download="prabhat.pdf">Download Resume
                <span><img src="https://img.icons8.com/ios-glyphs/30/null/downloading-updates.png" /></span></a>
        </div>
        <div class="icons">
            <ul>
                <li>
                    <a type="button" href="https://www.instagram.com/prabhat_anand95/" target="_blank"><img src="https://img.icons8.com/ios-glyphs/30/228BE6/instagram-new.png"/></a>
                </li>
                <li>
                    <a type="button" href="https://www.facebook.com/prabhat.dubey.3781" target="_blank"><img src="https://img.icons8.com/ios-glyphs/30/228BE6/facebook-new.png"/></a>
                </li>
                <li>
                    <a type="button" href="https://github.com/Mspidy" target="_blank"><img src="https://img.icons8.com/ios-glyphs/30/228BE6/github.png"/></a>
                </li>
                <li>
                    <a type="button" href="https://www.linkedin.com/in/prabhat-dubey-82435511a/" target="_blank"><img src="https://img.icons8.com/ios-glyphs/30/228BE6/linkedin-circled--v1.png"/></a>
                </li>

            </ul>
        </div>
    </div>
</div>